<section class="mt-lg-5">
  <div class="container">
    <!--Sensors ROW-->
    <div class="row">
      <!--HUMIDITY BOX-->
      <div class="col-xl-3 col-md-6 mb-r mb-4">
        <mdb-card cascade="true" class="cascading-admin-card">
          <div class="admin-up">
            <mdb-icon far icon="tint" class="primary-color"></mdb-icon>
            <div class="data">
              <p>Humidity</p>
              <h4><strong>{{room.humidity * 100 | number:'1.0-0' }} %</strong></h4>
            </div>
          </div>
          <mdb-card-body>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!--Temperature BOX-->
      <div class="col-xl-3 col-md-6 mb-r mb-4">
        <mdb-card cascade="true" class="cascading-admin-card">
          <div class="admin-up">
            <mdb-icon fas icon="thermometer-quarter" class="warning-color"></mdb-icon>
            <div class="data">
              <p>Temperature</p>
              <h4><strong>{{room.temperature | number: '1.0-2'}} °C</strong></h4>
            </div>
          </div>
          <mdb-card-body>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!--Loudness BOX-->
      <div class="col-xl-3 col-md-6 mb-r mb-4">
        <mdb-card cascade="true" class="cascading-admin-card">
          <div class="admin-up">
            <mdb-icon fas icon="volume-up" class="light-blue lighten-1"></mdb-icon>
            <div class="data">
              <p>Loudness</p>
              <h4><strong>{{room.loudness | number: '1.0-0'}} dB</strong></h4>
            </div>
          </div>
          <mdb-card-body>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!--Brightness BOX-->
      <div class="col-xl-3 col-md-6 mb-r mb-4">
        <mdb-card cascade="true" class="cascading-admin-card">
          <div class="admin-up">
            <mdb-icon fas icon="sun" class="red accent-2"></mdb-icon>
            <div class="data">
              <p>Brightness</p>
              <h4><strong>{{room.brightness| number: '1.0-0'}} Lux</strong></h4>
            </div>
          </div>
          <mdb-card-body>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <!--Stress bar -->
      <div class="col-md-6 mb-r mb-4">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Stress level of the room</h4>
            </mdb-card-title>
            <!--TODO: function AI response (String) -->
            <mdb-card-text>The room's stress level is {{room.stress}}%
              <mat-progress-bar [value]="room.stress"> </mat-progress-bar>
              AI response = ???(String)
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</section>
