<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Smart & Healthy Office</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side">
    <mat-action-list>
      <button mat-list-item *ngFor="let room of rooms | async" (click)="onSelectRoom(room)">{{room.name}}</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-room [room]="selectedRoom"></app-room>
    <app-notification></app-notification>
  </mat-sidenav-content>
</mat-sidenav-container>



