button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

html, body, material-app, mat-sidenav-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.mat-sidenav{
  width: 200px;
}
